.postList {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.postListHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
}

.postListItem {
  padding: 1.4rem 2rem;
}

.postListItem:hover {
  background-color: black;
  color: aqua;
}

.postListItemDate {
  font-size: small;
}

.postListItemText {
  font-size: 1.2rem;
}
